
<br/><br/><br/>
To add/edit product you should accept licence term.
<br/>
...
<br/>
bla bla bla
<br/>
...
<br/>
<form action="/Home/Edit">
    <br/>
    <input type="submit" value="Accept"/>
</form>
